/* CSS PALETTE 
--ultra-violet: #504283ff;
--delft-blue: #37316dff;
--linen: #fff2e8ff;
--old-rose: #c08579ff;
--heliotrope: #c57efeff;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 900;

}

/* header */

header {
    font-size: 20px;
    height: 100px;
    padding: 20px 80px;
    vertical-align: middle;
    background-color: #504283ff;
    margin: 0 auto;
    position: relative;
}

.h-cont {
    position: absolute; 
    left: 50px; 
    top: 50%; 
    transform: translateY(-50%);
}

.title {
    display: inline-block;
    vertical-align: middle;
}

img {
    width: 70px;
    vertical-align: middle;
}

main {
    height: 100vh;
 /*   background-color: #fff2e8ff; */
    background-color: #37316d;
}

/* main */

.cont-main {
    padding: 10px;
    margin: 0px 200px;
}

.sec {
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #fff2e8;
}

.m-cont {
    padding: 20px 40px;
    background-color: olive;
}


#blue {
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    color: #fff2e8;
    background-color: #37316d; 
}

#grey {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #37316d;
    color: #37316d;
    background-color: #fff2e8; 
}

.tick {
  width: 20px;
  height: 20px;
  color: #fff;
  border: 1px solid #fff;
  vertical-align: middle;
  border-radius: 50%;
}